div{
	border:1px solid red;
	width:400px;
	height:300px;
	position:relative;
}
p{
	position:absolute;
	top:30px;
	width:400px;
	text-align:center;
	background-color:#ccc;
	line-height:30px;
}
#abc{
	width:200px;
	height:200px;
	border:4px solid green;

}